email=mouryaexcel@gmail.com
#always-auth=true
#_auth=YWRtaW46ZGV2b3Bz


//registry = http://3.110.153.100:8081/repository/nodejs/_auth=YWRtaW46ZGV2b3Bz


//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
allowRepublish=true
